<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilomenu.css')}}"  >
</head>
<body>
    
    <div class="site">
	
        <nav class="nav">
            <div class="nav__title">QR_WORLD</div>
            <ul class="nav__list">
                <li class="dropdown">
                    <a href="{{ url_for('home') }}" class="dropbtn">HOME</a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropbtn">SERVICIOS</a>
                    <div class="dropdown-content">
                      <a href="{{url_for('creacionQR')}}">creacionQR</a>
                      <a href="{{url_for('historial')}}">HistorialQR</a>
                    </div>
                <li class="dropdown">
                    <a href="{{ url_for('profile') }}" class="dropbtn">PERFIL</a>
                </li>
                <li class="dropdown">
                    <a href="{{ url_for('nosotros') }}" class="dropbtn">NOSOTROS</a>
                </li>
                <li class="dropdown">
                    <a href="{{ url_for('logout') }}" class="dropbtn">CERRAR SESION</a>
                </li>
            </ul>
        </nav>
        
        
        
        
    </div>

    {%block content %}

    {%endblock%}

    


</body>
</html>