<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/estilos.css')}}>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header" id="inicio">
        <img src="img/hamburguesa.svg" alt="hamburguer">
        <nav class="menu-navegacion">
            <a href="{{url_for('creacionQR')}}">Inicio</a>
            <a href="{{url_for('registro')}}">Registrarse</a>
            <a href="{{url_for('iniciarSesion')}}">Ingresar</a>
        </nav>
        
    </header>
    {%block content %}{%endblock%}
    <i class='bx bxl-facebook-square'></i> 
    <i class='bx bxl-instagram' ></i>
    <i class='bx bxl-twitter' ></i>
    <script src="menu.js"></script>
    <script src="lightbox.js"></script>
    
</body>
</html>