{% extends "base.html" %}
{% block title %} HISTORIAL {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/historial1.css')}}"  >
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">QR</h3>
            <a href="{{url_for('creacionQR')}}" class="button is-success">Agregar</a>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>TIPO</th>
                        <th>IMAGEN</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for qrs in qr %}
                    <tr>
                        <td>{{qrs[1]}}</td>
                        <td>{{qrs[2]}}</td>
                        <td>{{qrs[3]}}</td>
                        <td>{{qrs[4]}}</td>
                        
                        <td>
                            <form action="{{url_for('eliminar_qr')}}" method="POST">
                                <input type="hidden" name="id" value="{{qrs[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}