{% extends 'base2.html' %}
{%block title %} HOME {%endblock%}

{%block content%}
<head>
    <style>
        .contenedor{
            
            color: white;
            height: 50vh;
            margin: 5%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>PAGINA PRINCIPAL</h1>
        <p>BIENVENIDO, {{usermane}}!</p>
    </div>
</body>

{%endblock%}