<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>QR</title>
	<link rel="stylesheet" href={{url_for('static', filename='css/estilos2.css')}}>
</head>
<body>
	
	<header class="header">
		
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>QR</h1>
			</div>
			<nav class="menu">
				<a href="#">Inicio</a>
				<a href="#">Nosotros</a>
				<a href="#">Contacto</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">

<div class="container-menu">
	<div class="cont-menu">
		<nav>
			
			<a href="">Servicios</a>
			<a href="{{url_for('registro')}}">Registrarse</a>
			<a href="{{url_for('iniciarSesion')}}">ingresar</a>
			<a href="{{url_for('generador')}}">usar</a>
		    
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>