<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Capturar Webcam con HTML5 y Javascript">
    <meta name="author" content="Raúl Prieto Fernández">
    <title>Capturar Webcam con HTML5 y Javascript</title>
    <link href="/style_f.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="loginbox">
        <img src="img/unnamed.png" alt="" class="avatar">
        <h1>Login</h1>
        <form action="">
          <p>Ususario</p>
          <input type="text" placeholder="Usuario">
          <input type="submit" value="Login">
          <a href="#">Lost your password</a><br>
          <a href="#">Don't have an account?</a>
        </form>
      </div>

</body>
</html>