<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>INICIO DE SESION</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/loginDiseño.css')}}"  >
</head>
<body>
    <div class="center">
        <h1>INICIO DE SESION</h1>
        <form method="post" action="/QrWorld/login">
            <div class="txt_field">
                <input type="text" name="usuario" required>
                <span></span>
                <label>USUARIO</label>
            </div>
            <div class="txt_field">
                <input type="password" name="passwordd" required>
                <span></span>
                <label>CONTRASEÑA</label>
            </div>
            <div class="pass">¿Se le olvido la Contraseña?</div>
            <div class="msg">{{ msg }}</div>
            <input type="submit"  name="iniciar" value="INICIAR">
            <div class="registro_link">
                ¿Sin cuenta? UNETE! <a href="{{url_for('login')}}">Crear Cuenta</a>
            </div>
        </form>
    </div>

</body>
</html>