{% extends 'base.html' %}
{%block title %}PORTAFOLIO{%endblock%}

{%block content%}
<link rel="stylesheet" href="{{url_for('static', filename='css/portafolio.css')}}">
<!-- MENU ENCABEZADO 


<div class="contenedor-header">
    <header>
        <div class="logo">
            <a href="#">Sobre nosotros</a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#portfolio" onclick="seleccionar()">GRUPO_4</a></li>  
            </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
</div>
-->

<!-- SECCION PORTFOLIO -->
<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <h2>PORTAFOLIO</h2>
        <div class="galeria">
            <div class="proyecto">
                <img src={{url_for('static', filename='portafolio/P1.png')}} alt=""> 
                <div class="overlay">
                    <h3>Carlos Humberto Chavarría</h3>
                    <p>USIS075419</p>
                </div>
            </div>
            <div class="proyecto">
                <img src={{url_for('static', filename='portafolio/P2.png')}} alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Fotografía</p>
                </div>
            </div>
            <div class="proyecto">
                <img src={{url_for('static', filename='portafolio/P3.png')}} alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Fotografía</p>
                </div>
            </div>
            <div class="proyecto">
                <img src={{url_for('static', filename='portafolio/P4.png')}} alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Fotografía</p>
                </div>
            </div>

        </div>
    </div>
</section>



<script src={{url_for('static', filename='js/portafolio.js')}}></script>
{%endblock%}
