{% extends 'base2.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/historial1.css')}}"  >
<section class="section">
    <h2>PAGINA DE PERFIL</h2>
<div class="columns">
    <p>Los Detalles de tu Cuenta son los Siguientes:</p>
    <table class="styled-table">
        <tr>
            <td>Usuario:</td>
            <td>{{ account['usuario'] }}</td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td>{{ account['contrasena'] }}</td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td>{{ account['correo_electronico'] }}</td>
        </tr>
    </table>
</div>
</section>
{% endblock %}