    {%extends "base.html"%}
    {%block title%}PAGINA PRINCIPAL {%endblock%}
    {%block content%}
    {% with messages=get_flashed_menssages() %}
    {% if messages%}
    {% for message in messages%}
      <p>{{message}}</p>
    {%endfor%}
    {% endif %}
    <form action="{{url_for('creacionQR')}}" method="post" name="#qr" >

        <input type="text" id="txtdato" name="txtdato" required placeholder="Tipo de dato">
       
        <select name="tipoQr">

            <option value="CIRCULO">CIRCULO</option>
      
            <option value="CUADRADO">CUADRADO</option>
      
            <option value="BARRA_VERTICAL">BARRA_VERTICAL</option>
      
            <option value="BARRA_HORIZONTAL">BARRA_HORIZONTAL</option>
      
            <option value="REDONDEADO">REDONDEADO</option>

            <option value="CUADRADO_GRANDE">CUADRADO_GRANDE</option>
      
          </select>
          <input type="text" id="txtname" name="txtname" id="txtname" placeholder="Nombre del qr" >
          <p>{{msg}}</p>
        <input type="submit" class="b" name="crear" id="crear" value="Crear QR">
        
    <br>
    
    <br>
    
    </form>

   
  </script>
   {%endblock%}