<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>REGISTRO FACIAL</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_f.css')}}"  >
</head>
<body>

    <div class="loginbox">
      <img class="avatar" src="/streaming_camara" style="width: auto">
        <h1>REGISTRO FACIAL</h1>
        <form method="post" action="/tomar_foto_guardar">
          <p>Ususario</p>
          <input type="text" name="usuario" placeholder="Usuario">
          <p>{{msg}}</p>
          <input type="submit" value="CREAR CUENTA">
          <a href="{{url_for('registro')}}">Registro tradicional? Ingresa</a><br>
          <a href="{{url_for('loginfacial')}}">Ya tienes cuenta? Ingresa</a>
        </form>
      </div>

</body>
</html>