<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>REGISTRO DE USUARIO</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/loginDiseño.css')}}"  >
</head>
<body>
    <div class="center">
        <h1>CREAR UNA CUENTA</h1>
        <form method="post" action="/registro" >
            <div class="txt_field">
                <input type="text" name="name" required>
                <span></span>
                <label>Nombre</label>
            </div>
            <div class="txt_field">
                <input type="text" name="apellido" required>
                <span></span>
                <label>Apellido</label>
            </div>
            <div class="txt_field">
                <input type="text" name="email" required>
                <span></span>
                <label>Correo Electronico</label>
            </div>
            <div class="txt_field">
                <input type="text" name="usuario" required>
                <span></span>
                <label>Ingrese un Usuario</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password2" required>
                <span></span>
                <label>Repita la Contraseña</label>
            </div>

            <input type="submit" name="crear">CREAR</input>
            <div class="registro_link">
                ¿Ya cuentas con una cuenta? <a href="login.html">Inicia Sesion</a>
            </div>
        </form>
    </div>

</body>
</html>